* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #f1f1f1;
    color: #000;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: .7em;
    font-weight: 300;
}